services:
  fastapi:
    build:
      context: backend/app
      dockerfile: Dockerfile
    expose:
      - 8000
  nginx:
    build:
      context: nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - fastapi
    volumes:
      - nginx_logs:/var/log/nginx
  elasticsearch:
    image: elasticsearch:9.2.1
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    expose:
      - 9200
    volumes:
      - esdata:/usr/share/elasticsearch/data
  kibana:
    image: kibana:9.2.1
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - SERVER_BASEPATH=/kibana
      - SERVER_REWRITEBASEPATH=false
    expose:
      - 5601
    depends_on:
      - elasticsearch
  filebeat:
    build:
      context: filebeat
      dockerfile: Dockerfile
    user: root
    depends_on:
      - elasticsearch
      - nginx
    volumes:
      - nginx_logs:/var/log/nginx:ro
volumes:
  nginx_logs:
  esdata:
